

<%- include('../partials/adminHeader.ejs')-%>
            
            <div class="mt-5">
                <div class="row">
                <div class="">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/addcategory" method="post" onsubmit="return submit(event)" id="form">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Category Name:</label>
            <input type="text" name="Category" class="form-control" id="recipient-name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
                </div>
                  <div class="table-responsive mt-2">
                    <% 
                    if(adMsg){
                      %>
                      <script>
                        Swal.fire('<%=adMsg%>')
                      </script>
                      <%
                    }
                    %>
                    <table id="category" class="table mt-5 table-bordered table-striped text-black">
              <thead>
                  <tr>
                <th>Sl No.</th>
                <th>Category</th>
                <th>Actins</th>
              </tr>
              </thead>
              <tbody>
              <% if(category.length > 0){%>
                <%  for(let i=0;i<category.length;i++){%>
                          <tr>
                                  <td><%=i+1%></td>
                                  <td><%=category[i].categoryname%></td>
                                  <td>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal-<%=category[i]._id%>" data-bs-whatever="@getbootstrap" class="btn btn-warning">Edit</a>
<div class="modal fade" id="exampleModal-<%=category[i]._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="exampleModalLabel-<%=category[i]._id%>">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/edit-category?id=<%=category[i]._id%>" method="post" onsubmit="return submit(event)" id="form">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-black">Category Name:</label>
            <input type="text" name="Category" class="form-control" id="recipient-name" value="<%=category[i].categoryname%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%if(category[i].is_deleted == 0){%>

  <a href="/admin/deletecategory?id=<%=category[i]._id%>" onclick=" return confirm('Do you want to Unlist <%=category[i].name%> ?')"  class="btn btn-danger">Unlist</a>
  <%}else{%>
    <a href="/admin/deletecategory?id=<%=category[i]._id%>" onclick=" return confirm('Do you want to List <%=category[i].name%> ?')"  class="btn btn-success">List</a>

<%}%>
   </td>
     </tr>       
    <% }%>
 <% }else{%>
      <tr>
                                      <td colspan="5">Category Not fount</td>
                                      </tr>
                                      <%  } %>
                                      </tbody>
                                      </table>
                    </div>
                    
              </div>
        </div>
    </div>
</div>
<%- include('../partials/adminFooter.ejs')-%>
<script>$(document).ready( function () {$('#category').DataTable();});</script>
