

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
rel="stylesheet">

<!-- sweetalert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/sweetalert.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

</head>
<body>
  
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__nav__option">
    <% if(isUser){%>
      <a href="wishlist"><img src="images/icon/heart.png" alt=""></a>
    <a href="cart"><img src="images/icon/cart.png" alt=""> <span>0</span></a>
    <div class="price">₹: <%=isUser.wallet %></div>
    <% }else{%>                      
    <a href="/login" style="color: black;">Sign in</a>
  <%  } %> 
</div>
    <div id="mobile-menu-wrap"></div>
    
</div>
<!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header">
    <!-- <header class="header" id="header"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="" alt="">Mini Cam</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="product">Shop</a></li>
                        <li><a href="#">Category</a>
                            <ul class="dropdown">
                              <% if(category.length>0){%>
                                <% category.forEach(element => {  %>
                                  <li><a href="/catproduct?id=<%=element._id%>"><%=element.categoryname%></a></li>
                              <%  }); %>
                                <% }else{%>
                                  <li><a href="">Category Not Found</a></li>
                              <% } %>  
                            </ul>
                        </li>
                        <% if(isUser){%>
                        <li><a href="#"><%=isUser.name%></a>
                            <ul class="dropdown">
                                  <li><a href="/profile">profile</a></li>
                                  <li><a href="/logout">logout</a></li>
                                </ul>
                              </li>
                              <% } %>  
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    
                    <% if(isUser){%>
                      <a href="wishlist"><img src="images/icon/heart.png" alt=""></a>
                    <a href="cart"><img src="images/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">₹: <%=isUser.wallet %></div>
                    <% }else{%>                      
                    <a href="/login" style="color: black;">Sign in</a>
                  <%  } %> 
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>

    </div>
</header>
<!-- Header Section End -->


