
<%- include('../partials/userHeader.ejs')-%>

                  <%
                    if(message){
                      %>
                      <script>
                        Swal.fire('<%=message%>')
                      </script>
                      <%
                    }
                    %>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       <% if(cartData && cartData.items && cartData.items.length>0){%>
        <% for(let i=0; i<cartData.items.length; i++){%>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=cartData.items[i].productId.name%></td>
            <td>₹: <%=cartData.items[i].productId.price%></td>
            <td>
              <button class="quantity-btn minus bg-transparent" onclick="decrement('<%=cartData.items[i].productId._id%>','<%= i %>','<%= cartData.items[i].productId.price %>')">-</button>
              <span class="quantity-value" id="quantity<%= i %>"><%=cartData.items[i].quantity%></span>
              <button class="quantity-btn plus bg-transparent" onclick="increment('<%=cartData.items[i].productId._id%>','<%= i %>','<%= cartData.items[i].productId.price %>')">+</button>
            </td>
            <td>₹:<span id="totalpriceamount<%= i %>"><%= cartData.items[i].price %></span></td>
            <td><a class="btn btn-danger" onclick="removeProduct('<%=cartData._id%>','<%=cartData.items[i].productId._id%>')">Delete</a></td>
          </tr>
          
          <% } } %>
        </tbody>
      <tfoot>
        <% if(cartData){%>       
          <tr>
            <th colspan="4">Subtotal</th>
            <td>₹: <span id="totalAountSub"><%=subtotal%></span></td>
          </tr>
      <%  }else{%>
        <p>Cart Is Empty</p>
      <%}%>
      </tfoot>
    </table>
  </div>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">          
      </div>
      <div class="col-md-6 text-center">
        <a href="checkout" class="btn-info btn-block rounded-pill">Proceed To Checkout</a>
      </div>
    </div>
  </div>

  
  

<%- include('../partials/userFooter.ejs')-%>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>

function increment(ID,index,price){
        $.ajax({
            url:`/increment?id=${ID}`,
            type:'post',
            contentType:'application/json',
             dataType:'json',
             success:function(res){
                console.log(res);
                if(res.ProductID == ID){
                  let num= parseInt(document.getElementById(`quantity${index}`).innerHTML)
                    document.getElementById(`quantity${index}`).innerHTML = num+1
                  let Aprice = parseInt(price)
                  let totalAmount = parseInt(document.getElementById("totalAountSub").innerHTML)
                  document.getElementById("totalAountSub").innerHTML = totalAmount - (num*price) +  (num+1)*Aprice
                  document.getElementById(`totalpriceamount${index}`).innerHTML = (num+1)*Aprice

                }
             }
        })
    }
    $(document).ready(function(){
        var x=($('.input').val());
       if( $('.input').val()<0){
        $('.de').hide()
       }else{
        $('.de').show()
       }
    })
    function decrement(ID,index,price){
        $.ajax({
            url:`/decrement?id=${ID}`,
            type:'post',
            contentType:'application/json',
             dataType:'json',
             success:function(res){
                console.log(res);
                if(res.ProductID== ID){
                   
                  let num= parseInt(document.getElementById(`quantity${index}`).innerHTML)
                    document.getElementById(`quantity${index}`).innerHTML = num-1
                  let Aprice = parseInt(price)
                  let totalAmount = parseInt(document.getElementById("totalAountSub").innerHTML)
                  document.getElementById("totalAountSub").innerHTML = totalAmount + (num*price) -  (num+1)*Aprice
                  document.getElementById(`totalpriceamount${index}`).innerHTML = (num-1)*Aprice
                }
                      
             }
        })
    }

    function removeProduct(cartId,proId){
                    const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                    cancelButton: 'btn btn-danger'
                                }, buttonsStyling: true
                            })
                            swalWithBootstrapButtons.fire({
                                title: 'Are you sure?', text: "You won't be able to revert this!",
                                // icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes', 
                                cancelButtonText: 'No',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $.ajax({
                                        url:"/removeCartItem",
                                         data:{
                                          cart:cartId,
                                          product:proId
                                          },
                                          method:'post',
                                        encoded: true,
                                        success: function (response) {
                                            window.location.reload()
                                        }
                                    }).then(() => {
                                        swalWithBootstrapButtons.fire('Deleted!', 'Product has been removed.', 'success')
                                    })
                                } else if (result.dismiss === Swal.DismissReason.cancel) { swalWithBootstrapButtons.fire('Cancelled', 'Product is not removed', 'error') }
                            })
            // }
        // })
    }

    function applyCoupon() {
                    const couponCode = document.getElementById("code").value;
                    console.log(couponCode);
                    if (couponCode != "") {
                        $.ajax({
                            url: '/add-coupon/' + couponCode,
                            method: 'post',
                            success: async (response) => {
                                if (response.success) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        title: "Coupon Added",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                   
                                  
                                } else if (response.exist) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Your code is already exist",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                } else if (response.error) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Your code not available",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                } else {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Something Error! Try Again",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                }
                            }
                        })
                    }
                }
    </script>

