

<%- include('../partials/userHeader.ejs')-%>

<section class=" gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5 bg-light">
              <h5 class="text-muted mb-0"> <span style="color: #a8729a;"></span></h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
              </div>
                    <% if(orders){ %>
                      <% for(let i=0; i<orders.length; i++){%>
                        <%for(let j=0;j<orders[i].item.length;j++){%>
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">

                        <div class="col-md-2">
                          <img src="/images/product/<%=orders[i].item[j].product.image[0].path%>"
                            class="img-fluid" alt="Phone">
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0"><%=orders[i].item[j].product.name%></p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Qty: <%=orders[i].item[j].quantity%></p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">₹: <%=orders[i].item[j].price%></p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small"><a href="orderStatus?id=<%=orders[i]._id%>">Details</a><% if(orders[i].orderStatus !== 'Cancelled' && orders[i].orderStatus !== 'Delivered' && orders[i].orderStatus !== 'returned') {%> <a class="text-danger" href="/cance-order?id=<%=orders[i]._id%>">Cancel</a>
                            <% } else if(orders[i].orderStatus == 'Delivered') {%> 
                              <div class="pt-3">
                                <div class="row">
                                  <div class="col">
                                    <a  class="text-danger ml-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" href="" style="font-size: smaller;">Return</a>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Reason</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <form action="/returnOrder?id=<%=orders[i]._id%>&proid=<%=orders[i].item[j]._id%>" method="post" onsubmit="return submit(event)" id="form">
                                              <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Enter Return Reason:</label>
                                                <input type="text" name="reason" class="form-control" id="recipient-name" required>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Enter</button> 
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% } %>
                          </p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="ml-5 p-1 mb-0 small bg-warning text-white rounded-pill"><%=orders[i].orderStatus%></p>
                        </div>
                        </div>
                      
                                </div>
                                </div>
                                <% } %>
                                <% } %>
                              <%  } %> 
                                </div>
  
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>



<%- include('../partials/userFooter.ejs')-%>