<%- include('../partials/userHeader.ejs')-%>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>Image</th>
                          <th>Product</th>
                          <th>Price</th>
                          
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                        <% items.wishlist.forEach(element => {%>
                          
                          <tr class="alert" role="alert">
                            <th scope="row"><img style="width: 50px; height: 30px;" src="/images/product/<%=element.image[0].path%>" alt=""></th>
                            <td><%=element.name%></td>
                            <td><%=element.price%></td>
                            
                            <td>
                                <a href="/removewishlist?id=<%=element._id%>" class="close" aria-label="Close">
                                  <i class="fa fa-close"></i></a>    
                              
                              <a href="#" onclick="addToCart('<%=element._id%>')"><img src="images/icon/cart.png" alt=""></a>
                            
                          </td>
                          </tr>
                      <%  }); %>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../partials/userFooter.ejs')-%>